<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juhyun.haerak2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="해락"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddBucketActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectCategoryPop"
            android:theme="@style/AppTheme.SelectCategoryPop" />
        <activity
            android:name=".BucketDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".CategorySearchActivity" />
        <activity android:name=".RealBucketActivity" />
        <activity android:name=".AddGroupPostActivity" />
        <activity
            android:name=".GroupPostDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>